
<header class="vw-100">
  <nav class="navbar navbar-dark bg-dark shadow text-white">
    <div class="col-auto text-start">
      <h3 class="fw-bold"><a class="text-decoration-none text-white" [routerLink]="['']">Teddir</a></h3>

    </div>

    <div *ngIf="username" class="col text-center" >
      <a class="btn text-white btn-outline-light" [routerLink]="['/community']">Community</a>
      &nbsp;
      <a class="btn text-white btn-outline-light" [routerLink]="['/profile']">Profile</a>
      &nbsp;
      <a class="btn text-white btn-outline-light" [routerLink]="['/messages']">Messages</a>
    </div>

    <div *ngIf="username" class="col-auto text-end">
      {{username}}
      <button class="btn btn-sm btn-outline-danger" (click)="onLogOut()">Log Out</button>
    </div>
  </nav>
</header>

<div class="container vw-100">
  <router-outlet></router-outlet>
</div>
